<?xml version="1.0"?>

<configuration>

    <connectionStrings>
        <add name="NorthwindConnectionString" connectionString="Data Source=NCF-L01;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
