<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DogAndCatDBQAConnectionString" connectionString="Data Source=a4aziks9ov.database.windows.net;Initial Catalog=DogAndCatPauchDBQA;User ID=MoblynUser;Password=moblyn@!1mblyn" providerName="System.Data.SqlClient" />

		<!--<add name="DogAndCatDBQAConnectionString" connectionString="Data Source=46.34.87.182;Initial Catalog=DogAndCatDB;User ID=MoblynUser;Password=moblyn@!1mblyn" providerName="System.Data.SqlClient" />-->

				<!--<add name="DogAndCatDBQAConnectionString" connectionString="Data Source=46.34.87.182;Initial Catalog=DogAndCatDB;User ID=cmsMoblyn2017;Password=@cms2017!@!@moblyn" providerName="System.Data.SqlClient" />-->


	</connectionStrings>
  <appSettings>
    <add key="Storage_AccountName" value="" />
    <add key="Storage_AccountKey" value="" />
    <add key="Storage_AccountKeySecondary" value="" />
    <add key="Storage_QueueUri" value="" />
    <add key="Storage_TableUri" value="" />
    <add key="Storage_BlobUri" value="" />
    <add key="Storage_Container" value="/" />
		<!--<add key="Storage_Container" value="allmoblinutilsapps/" />-->

		<!--DECIDE IF WE WANT FOR THAT APP TO SAVE FULL URL TO DB - SAVE ONLY-->
    <add key="ImageKeepFullURL" value="true" />
    <add key="VERSION" value="2016-JUNE-08 11:10AM" />
		<add key="SessionTimeAsMinutes" value="30" />
		
		<!--APPLICATION USERS-->
		<add key="Users" value="sharonb:mng!,dvirvo:mng!,daniel:moblin!,qa:user!,ido:mng!" />
		<!--APPLICATION USERS ALLOWED TABLES (IF EMPTY LIST THAN ALLOWED ALL)-->
		<add key="UserTables" value="leadreports,reg_cats,reg_dogs,leads,logs,unique_user_identities,user_identities,pets,ip_identities,projects,userresponses" />
 


		<!--APPLICATION ADMINS-->
		<add key="Admins" value="sharon:admin!,dvirv:admin!,qam:admin!,danielf:admin!,ido@admin!" />
		<!--APPLICATION ADMINS ALLOWED TABLES (IF EMPTY LIST THAN ALLOWED ALL)-->
		<add key="AdminTables" value="" />

		<!--APPLICATION DEVELOPERS SEE ALL TABLES-->
		<add key="Developers" value="sharondev:dev!" />

		<!--APPLICATION KEY WE POST LOGING LOGOUT TO POST CONROLLER-->
		<add key="DynamicCMSMoblinUtilsKey" value="A7D0BE8A68B94BDE8802E6809FFD5B3E" />
		<!--IF 'true' POST, ELSE DO NOT POSt-->
		<add key="LoginPostBackEnabled" value="true" />

		<add key="LoginPostBackURL" value="http://moblinutils.cloudapp.net/api/postback/post" />
	

		<!--URL TO POST LOGIN TO CMS-->
		<add key="SystemViews" value="leadreports" />
		          
		<add key="UtilsSMSEnabled" value="tr-ue" />
		<add key="UtilsSMSKey" value="INSERT-APP-KEY-FROM-MOBLIN-UTILS (DVIR OR SHURON)" />
		<add key="UtilsSMSLink" value="http://moblinutils.cloudapp.net/api/sms/send_sms" />
	</appSettings>

  <system.web>
		<httpRuntime requestValidationMode="2.0"   />
    <compilation debug="true" targetFramework="4.5.2" >
		 

      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" /><customErrors mode="Off"></customErrors>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>